body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 20px;
    background-image: url("../imgs/contentpage/banner2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 120px;
    margin-bottom: 60px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #444;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 0.75em;
}

p {
    margin-bottom: 1.25em;
}

ol {
    margin-left: 20px;
}

ol li {
    margin-bottom: 0.5em;
}

b {
    color: #555;
}
