* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

button {
    background-color: #010534; /* Set button background color */
    color: white; /* Set button text color */
    padding: 10px 20px; /* Set button padding */
    border: none; /* Remove button border */
    border-radius: 5px; /* Round button corners */
    cursor: pointer; /* Change cursor to hand on hover */
    margin-right: 10px; /* Add margin between buttons */
    justify-content: flex-end;
    align-items: flex-end;
}

.color-option {
    margin-right: 100px; /* Add margin between color options */
    margin-top: 5px;
    margin-bottom: 15px;
    justify-content: flex-end;
}

.color-scheme{
    
    margin-right: 1500px;
    justify-content: flex-end;
}

.img-gallery {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    
}

.img-gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

.img-gallery img:hover {
    transform: scale(0.9) ;
    
    box-shadow: 0 32px 7px rgba(188, 189, 193, 0.2);
}
.full-img {
    position: fixed;
    top: 5%;
    left: 5%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-img img {
    max-width: 90%;
    max-height: 90%;
}

.close-button {
    position: absolute;
    top: 59px;
    right: 10%;
    font-size: 50px;
    color: #eae4e4;
    cursor: pointer;
}
