body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

main {
    background-color: #000000;
}

.homeVid {
    border-radius: 10px;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
}

video {
    width: 100%;
    height: auto;
    margin-top: -40px;
    filter: brightness(50%);
}

hr {
    height: 2px;
    background-color: #00000000;
    border: none;
    margin: 20px 0;
}

.content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    color: white;
    z-index: 1;
}

.about h2,
p {
    color: #FFFFFF;
}

.large-text-Climate-Action {
    font-size: 48px;
    margin-bottom: 10px;
}

.description-Climate-Action {
    font-size: 24px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.see-more-button {
    background-color: transparent;
    border: 2px solid white;
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.see-more-button:hover {
    color: #AAAAAA;
    border-color: #222222;
}

.news-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.news-container {
    flex-direction: row;
}

.news-box {
    position: relative;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 600px;
}

.news-box video,
.news-box img {
    max-width: 100%;
    height: 300px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.read-more-button {
    color: white;
    text-decoration: none;
    font-weight: bold;
    z-index: 1;
}

.news-head h1 {
    color: white;
    text-align: center;
}

.content-head{
    color: white;
    text-align: center;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.content-box {
    width: 25%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #00000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    flex-direction: column;
    align-items: center;
}

.box-title {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.box-description {
    font-size: 16px;
    line-height: 1.5;
    color: #AAAAAA;
}

.content-box img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}
.read-more-button {
    display: block;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
}

.container-bottom {
    display: flex;
    justify-content: center;
}

.see-more-button-bottom {
    background-color: transparent;
    border: 2px solid white;
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.see-more-button-bottom:hover {
    color: #AAAAAA;
    border-color: #222222;
}
