body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
}

nav {
    text-align: center;
    top: 0;
    background-color: #0088FFFF;
    padding: 5px;
}

nav a {
    color: #FFFFFFFF;
    text-decoration: none;
    margin: 15px;
}

nav a:hover {
    background-color: black;
    color: #FFFFFFFF;
}

main {
    padding: 20px 0;

}

#homeMain {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}