body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-header {
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

.root {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.logo {
    width: 70px;
}

.nav-header nav {
    display: flex;
}

.nav-header nav a {
    padding: 10px;
    margin-left: 50px;
    border-radius: 5px;
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-header nav a:hover {
    color: #000000;
    background-color: #FFFFFF;
}

.navbar-iframe {
    width: 100%;
    border: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.user-link img {
    width: 40px;
    height: auto;
    margin-top: -10px;
    transition: transform 0.3s ease;
}

.user-link img:hover {
    content: url("../imgs/userpropic/user-circle-solid-240.png");
    transform: scale(1.1);
}
