/* Page settings */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

main {
  margin-left: 40px;
  margin-right: 40px;
}

/* Donation Card Styles */
#donation-card-showcase {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.donation-card {
  border: 1px solid #333;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  color: #eeeeee;
  background-color: #111111;
  flex-basis: 32%;
  box-sizing: border-box;
  transition-duration: 0.25s;
}

.donation-card:hover {
  box-shadow: 0px 0px 3px 3px #eee;
  transition-duration: 0.25s;
}

.donation-card img {
  border-radius: 5px;
  width: 100%;
  height: auto;
}

.donation-card h2 {
  margin-top: 0;
}

.donation-card p {
  margin: 10px 0;
}

.donation-card-input-number {
  background-color: #0077ff;
  border: none;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
}

.donation-card-input-button {
  background-color: #dc143c;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
}
