body {
    background-color: #343434;
    /* background-image: url(https://img.stablecog.com/insecure/1920w/aHR0cHM6Ly9iLnN0YWJsZWNvZy5jb20vZWEwNzNkMTgtNzhlOS00MmMwLWI1MWMtM2JkMGY4ZjI0Y2NmLmpwZWc.webp); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

.cards img {
    width: 100% height auto border auto padding 5px
}

.cards {
    backdrop-filter: blur(10px);
    border: solid 2px #FFFFFF11;
    border-radius: 10px;
    box-shadow: 0 0 25px 5px #000000FF;
    width: 75%;
    margin: 10px;
    z-index: 1;
    position: relative;
}

.headings {
    font-size: 28px;
    font-weight: bold;
}


.members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.member {
    width: 150px;
    margin: 10px;
    position: relative;
    display: inline;
    margin: 5px;
}

.member img {
    width: 100%;
    border-radius: 50%;
    transition: transform 125ms ease-in-out;
}

.member:hover img {
    transform: scale(1.2);
}

.member p {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.member:hover p {
    opacity: 1;
}

.cards:hover.mission {
    display: block;

}