body {
    background-color: #343434;
    /* background-image: url(https://img.stablecog.com/insecure/1920w/aHR0cHM6Ly9iLnN0YWJsZWNvZy5jb20vZWEwNzNkMTgtNzhlOS00MmMwLWI1MWMtM2JkMGY4ZjI0Y2NmLmpwZWc.webp); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cards {
    backdrop-filter: blur(10px);
    border: solid 2px #FFFFFF11;
    border-radius: 10px;
    box-shadow: 0 0 25px 5px #000000FF;
    width: 75%;
    margin: 10px;
    z-index: 1;
    position: relative;
}

.headings {
    font-size: 28px;
    font-weight: bold;
}

.loader {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
}

.members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.member {
    width: 150px;
    margin: 10px;
}

.member img {
    width: 100%;
    border-radius: 50%;
    transition: transform 125ms ease-in-out;
}
.member img:hover {
    transform: scale(1.2);
}

.cards:hover.mission{
    display:block;
     
}