footer {
  background-color: #a0a0a0;
  border-radius: 15px;
  color: #fff;
  padding: 20px;
  background-image: url('/assets/images/PS_GradientWall.png');
  background-position: bottom;
  text-align: center;
  -webkit-backdrop-filter: 10px;
  backdrop-filter: 10px;

}

footer p {
  margin: 0; 
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer {
  background-color: #a0a0a0;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0; 
}

footer a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 20px;
}