body {
  font-family: sans-serif;
  background: linear-gradient(45deg, #200000, #002000, #000020, #202000);
  /* background-image: url('/assets/images/PS_GradientWall.png');
  background-position: center; */
  color: #ffffff;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 16px;
}

main {
  padding: 20px;
}

.sidebar {
  width: 30%;
  padding: 20px;
  margin-bottom: 20px;
}
