body {
  font-family: sans-serif;
  background-color: #fff;
  color: #333;
}

header {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 16px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
}

nav a:hover {
  color: #fff;
  background-color: #333;
}

main {
  padding: 20px;
}

.content-container {
  display: flex;
  justify-content: space-between;
}

.post {
  width: 70%;
  padding: 20px;
  margin-bottom: 20px;
}

.post-title {
  font-size: 24px;
}

.sidebar {
  width: 30%;
  padding: 20px;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  padding: 20px;
}
